* {
    background-color: bisque;
}

html, body {
    scroll-behavior: smooth;
    margin: 0;
}

.container {
    background-color: rgb(255, 94, 94);
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.boite1 {
    width: 20%;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(255, 94, 94);
    color: black;
    text-decoration: none;
    text-align: center;
}
.boite1:hover {
    color: white;
    border: solid 2px white;
    background-color: rgb(179, 65, 65);
}

.boite2 {
    width: 20%;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(255, 94, 94);
    color: black;
    text-decoration: none;
}
.boite2:hover {
    color: white;
    border: solid 2px white;
    background-color: rgb(179, 65, 65);
}

.boite3 {
    width: 20%;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(255, 94, 94);
    color: black;
    text-decoration: none;
}
.boite3:hover {
    color: white;
    border: solid 2px white;
    background-color: rgb(179, 65, 65);
}

.boite6 {
    width: 20%;
    height: 50px;
    border: solid 2px black;
    background-color: rgb(255, 94, 94);
    color: black;
    text-decoration: none;
}
.boite6:hover {
    color: white;
    border: solid 2px white;
    background-color: rgb(179, 65, 65);
}

.container2 {
    display: flex;
    justify-content: left;
    padding-top: 30px;
}

.boite4 {
    display: flex;
    border: solid 2px black;
}

.boite5 {
    padding-left: 10px;
    height: 100px;
}

.nav {
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
    font-size: 30px;
    font-family: 'Press Start 2P', cursive;
}

.c1 {
    background-color: transparent;
    color: white;
}
.c1:hover {
    text-decoration-line: underline;
}

.c2 {
    background-color: transparent;
    color: white;
}
.c2:hover {
    text-decoration-line: underline;
}

.c3 {
    background-color: transparent;
    color: white;
}
.c3:hover {
    text-decoration-line: underline;
}

.c4 {
    background-color: transparent;
    color: white;
    opacity: 50%;
    display: flex;
    flex-direction: column;
}
.c4:hover {
    opacity: 100%;
}

.img {
    background-color: transparent;
    align-self: center;
}

.price {
    font-family: 'Pacifico', cursive;
    font-size: 20px;
    display: flex;
    justify-content: left;
    margin-left: 118px;
    margin-bottom: -50px;
}

#button:hover {
    transform: scale(120%);
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 100px;
    height: 100px;
    font-size: 16px;
    font-family: 'Press Start 2P', cursive;
    background-color: black;
}

.f1{
    color: white;
    background-color: transparent;
    opacity: 50%;
}
.f1:hover{
    opacity: 100%;
}

.f2{
    color: white;
    background-color: transparent;
    opacity: 50%;
}
.f2:hover{
    opacity: 100%;
}

.f3{
    color: white;
    background-color: transparent;
    opacity: 50%;
}
.f3:hover{
    opacity: 100%;
}