::-webkit-scrollbar{
    width: 10px;
}
  
::-webkit-scrollbar-track{
    background: black;
}

::-webkit-scrollbar-thumb{
    background: rgba(127, 255, 212, 0.5);
}
  
::-webkit-scrollbar-thumb:hover{
    background: aquamarine;
}